# Server Port
PORT=5000

# Database Connection
MONGODB_URI=mongodb+srv://revanthsivakoppu_db_user:9XkY5hS6Pndg4fur@cluster0.a4rmctg.mongodb.net/?appName=Cluster0

# Authentication Secret
JWT_SECRET=truthlens_super_secret_jwt_key_2026_hackathon

# TruthScan API Key
TRUTHSCAN_API_KEY=ts_live_v2_OSkltDZqPRRzITqDt3SG7v9zK-1HFumXE1IqHUWYXsAI4u63dP3voiCgag9204nqj8rUEx-yFTyX80smu1jzei5ME_4_Gw6eCh9WvVh6AYPjVbwLtDZtnlmBoGi4Bmc2Vf9nMzj_8b5c46

# Google OAuth Client ID (Optional)
GOOGLE_CLIENT_ID=your_google_client_id_here
